<!DOCTYPE html>

<title>Complaint</title>

{% block body %}
    <h1>Complaint</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ complaint.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ complaint.subject }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ complaint.content }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ complaint.status ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Response</th>
                <td>{{ complaint.response }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ complaint.createdAt ? complaint.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_complaint_index') }}">back to list</a>

    <a href="{{ path('app_complaint_edit', {'id': complaint.id}) }}">edit</a>

    {{ include('complaint/_delete_form.html.twig') }}
{% endblock %}
