{% extends 'navBar.html.twig' %}

{% block title %}Favoris index{% endblock %}

{% block body %}
    <h1>Favoris index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Idfavoris</th>
                <th>Note</th>
                <th>Titreressource</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for favori in favoris %}
            <tr>
                <td>{{ favori.idfavoris }}</td>
                <td>{{ favori.note }}</td>
                <td>{{ favori.titreressource }}</td>
                <td>
                    <a href="{{ path('app_favoris_show', {'idfavoris': favori.idfavoris}) }}">show</a>
                    <a href="{{ path('app_favoris_edit', {'idfavoris': favori.idfavoris}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_favoris_new') }}">Create new</a>
{% endblock %}
