{% extends 'base.html.twig' %}

{% block title %}Recompense{% endblock %}

{% block body %}
    <h1>Recompense</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idrecompense</th>
                <td>{{ recompense.idrecompense }}</td>
            </tr>
            <tr>
                <th>Dateattribution</th>
                <td>{{ recompense.dateattribution ? recompense.dateattribution|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ recompense.type }}</td>
            </tr>
            <tr>
                <th>Statusrecompence</th>
                <td>{{ recompense.statusrecompence }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recompense_index') }}">back to list</a>

    <a href="{{ path('app_recompense_edit', {'idrecompense': recompense.idrecompense}) }}">edit</a>

    {{ include('recompense/_delete_form.html.twig') }}
{% endblock %}
