<div class="row">
    <div class="col-md-4 text-center">
        <img src="{{ user.imageUrl is not empty ? asset(user.imageUrl) : asset('assets/imgP/logo2.png') }}" alt="User Image"

             class="img-fluid rounded-circle mb-3" width="150" height="150">
    </div>
    <div class="col-md-8">
        <h4>{{ user.nom }} {{ user.prenom }}</h4>
        <p class="text-muted">{{ user.email }}</p>
        
        <div class="row mt-4">
            <div class="col-6">
                <p><strong>Phone:</strong> {{ user.numPhone }}</p>
                <p><strong>CIN:</strong> {{ user.cin }}</p>
            </div>
         
            <div class="col-6">
                <p><strong>Date of birth:</strong> {{ user.dateNaissance|date('d/m/Y') }}</p>
                <p><strong>Statuts:</strong> 
                      <span class="badge bg-{{ user.status == 'ACTIVE' ? 'success' : (user.status == 'BLOCKED' ? 'danger' : 'secondary') }}">
                                                {{ user.status == 'ACTIVE' ? 'Actif' : (user.status == 'BLOCKED' ? 'Bloqué' : 'Inconnu') }}
                                            </span>
                </p>
            </div>
        </div>
    </div>
</div>