{{ form_start(form) }}
    <div class="form-group mb-3">
        {{ form_label(form.titre, 'Title') }}
        {{ form_widget(form.titre, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'Enter program title'
            }
        }) }}
        {{ form_errors(form.titre) }}
    </div>

    <div class="form-group mb-3">
        {{ form_label(form.type, 'Type') }}
        {{ form_widget(form.type, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'Enter program type'
            }
        }) }}
        {{ form_errors(form.type) }}
    </div>

    <div class="form-group mb-3">
        {{ form_label(form.description, 'Description') }}
        {{ form_widget(form.description, {
            'attr': {
                'class': 'form-control',
                'placeholder': 'Enter program description'
            }
        }) }}
        {{ form_errors(form.description) }}
    </div>

    <div class="form-group mb-3">
        {{ form_label(form.iduser, 'User') }}
        {{ form_widget(form.iduser, {
            'attr': {
                'class': 'form-control'
            }
        }) }}
        {{ form_errors(form.iduser) }}
    </div>

    <button class="btn btn-primary w-100">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
