<!DOCTYPE html>

<title>Evaluation</title>

{% block body %}
    <h1>Evaluation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Idevaluation</th>
                <td>{{ evaluation.idevaluation }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ evaluation.id }}</td>
            </tr>
            <tr>
                <th>Idresource</th>
                <td>{{ evaluation.idresource }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ evaluation.note }}</td>
            </tr>
            <tr>
                <th>Dateevaluation</th>
                <td>{{ evaluation.dateevaluation ? evaluation.dateevaluation|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_evaluation_index') }}">back to list</a>

    <a href="{{ path('app_evaluation_edit', {'idevaluation': evaluation.idevaluation}) }}">edit</a>

    {{ include('evaluation/_delete_form.html.twig') }}
{% endblock %}
